# Default ignored files
/../../../../:WebstormProjects/Ktra15p/.idea/shelf/
/../../../../:WebstormProjects/Ktra15p/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:WebstormProjects/Ktra15p/.idea/httpRequests/
